<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
  <style>
    body {
      font-family: sans-serif;
    }

    form {
      width: 50%;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input, select {
      width: 100%;
      padding: 5px;
      margin-bottom: 5px;
    }

    button {
      cursor: pointer;
      background-color: #3498db;
      color: #fff;
      border: none;
      padding: 5px 10px;
      margin-top: 10px;
    }

    button:hover {
      background-color: #2980b9;
    }
  </style>
</head>
<body>
<h1>Edit User</h1>

<form th:action="@{/admin/edit/{id}}" th:object="${user}" th:method="put">
  <input type="hidden" th:field="*{id}">

  <label for="username">Username:</label>
  <input type="text" th:field="*{username}" id="username">

  <label for="email">Email:</label>
  <input type="email" th:field="*{email}" id="email">

  <label for="password">Password:</label>
  <input type="password" th:field="*{password}" id="password">

  <label>Select role:
    <input type="checkbox" name="roles"
           th:each="roles : ${roles}"
           th:value="${roles.getId()}"
           th:text="${roles.getName().replace('ROLE_', '') + ' '}"
           th:field="*{roles}"
    />
  </label>

  <button type="submit">Update</button>
</form>
  <a href="/admin"><button type="submit">Отмена</button></a>
</body>
</html>

